:root{
    --cl-white:#ffffff;
    --cl-dark:#030303;
    --cl-blue:#6495ed;
 
}

body{
    margin: 0 auto;
    padding: 0;
    
    font-family: 'Caveat', cursive;
    font-size: 36px;
    color: var(--cl-white);

    background-color: var(--cl-dark);
}

.container{
    max-width: calc((100vh - 15%) / 0.61);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;

}

.outside-container{
    max-width: calc((100vh - 15%) / 0.61 - 1%);
    width: 100%;
    max-height: calc(100vh - 15%);
    height: 100%;
 /*   overflow: hidden;   */
}

.inside-container{
    display: flex;

    margin:auto;
    margin-top: 2%;
    width: calc(100% *5);
    height: 100%;


}

/*#img-no-parking{
flex-grow:1
}
#img-earth, #img-flying, #img-ktulhu{
    flex-grow:0
}*/


.img{
    width: calc(100% / 5);
    height: 100%;
    margin:0;
    object-fit: contain;
}



/*.bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}*/

.controls{
    display: flex;
    justify-content: space-between;
    margin: 48px 0 48px 10px;
    max-width: 200px;
    width: 100%;
}

/*radio*/
input{
    display: none;
}

label {
    display: inline-block;  

    width: 20px;
    height: 20px;
    border-radius: 50%;

    user-select: none;
    cursor: pointer;
    background-color: var(--cl-blue);
    border: 3px solid var(--cl-blue);
}

label:after{

    left:0;
    content: " ";


    background-color: var(--cl-dark);
  /*  border: 3px solid var(--cl-blue);*/

}

label:hover{
    background-color: var(--cl-white);
    border: 3px solid var(--cl-white);
}


#id-noparking:checked ~ .controls label:nth-of-type(1),
#id-earth:checked ~ .controls label:nth-of-type(2),
#id-flying:checked ~ .controls label:nth-of-type(3),
#id-ktulhu:checked ~ .controls label:nth-of-type(4){
    background-color: var(--cl-dark);   
}

/*radio*/

@media (max-width: 1024px){

    label:before{
        width: 15px;
        height: 15px;
        border: 2px solid var(--cl-blue);
    }

    label:hover:before{
        border: 2px solid var(--cl-white);
    }
  p{  
    font-size: 28px;
  }  
  .controls{
    max-width: 150px;
}
}

@media (max-width: 768px){
    .bottom-part {
        flex-direction:column-reverse;
        justify-content: space-between;
        align-items: baseline;
    }  
    
    label:before{
        width: 10px;
        height: 10px;
        border: 1px solid var(--cl-blue);
    }
    label:hover:before{
        border: 1px solid var(--cl-white);
    }

    .controls{
        margin: 0 auto;
        max-width: 100px;
    }

}

/*animation*/

.img{
    z-index: 0;
    opacity:0;
    transition: transform 0.5s, opacity 0.5s; 
}

#img-noparking{
    opacity:1;
}

/*serene*/


/*parking*/


/*earth checked*/

#id-earth:checked ~ .inside-container > #img-earth{
    z-index: 1;
    opacity:1;
    transform: translateX(-100%);  

}

#id-earth:checked ~ .inside-container > #img-noparking{
    z-index: 0;
    transform: translateX(-100%); 
    opacity:0;
}
    
#id-earth:checked ~ .inside-container > #img-flying{
    z-index: 0;
    transform: translateX(-100%); 
    opacity:0;
}


#id-earth:checked ~ .inside-container > #img-ktulhu{
    z-index: 0;
    transform: translateX(-100%); 
    opacity:0;
}

/*dragons checked*/

#id-flying:checked ~ .inside-container > #img-flying{
   z-index: 1;
    transform: translateX(-200%);  
    opacity:1;

}

#id-flying:checked ~ .inside-container > #img-noparking{
    z-index: 0;
     transform: translateX(-100%); 
     opacity:0;
  
 }


 #id-flying:checked ~ .inside-container > #img-earth{
    z-index: 0;
     transform: translateX(-200%); 
     opacity:0;
  
 }

 #id-flying:checked ~ .inside-container > #img-ktulhu{
    z-index: 0;
     transform: translateX(-100%); 
     opacity:0;
  
 }

/*ktulhu checked*/
#id-ktulhu:checked ~ .inside-container > #img-ktulhu{
    z-index: 1;
    opacity:1;
    transform: translateX(-300%);  
}

#id-ktulhu:checked ~ .inside-container > #img-noparking{
    z-index: 0;
     transform: translateX(-100%); 
     opacity:0;
  
 }

 #id-ktulhu:checked ~ .inside-container > #img-earth{
    z-index: 0;
     transform: translateX(-100%); 
     opacity:0;
  
 }

#id-ktulhu:checked ~ .inside-container > #img-flying{
    z-index: 0;
     transform: translateX(-300%); 
     opacity:0;
  
 }



